<div class="dynamic-gallery-wrapper">
  <div id="dynamic-gallery" class="dynamic-gallery">
    <% dynamicGallery.imagini.forEach(function(img, index) { %>
    <img
      src="/resized-images/700/<%=galleryData.cale_galerie%><%= img.cale_imagine %>"
      alt="<%= img.descriere || img.titlu %>"
      title="<%= img.titlu %>"
      style="z-index: <%- 100 - index -%>"
    />
    <% }); %>
  </div>
</div>

<script>
  var ANIMATION_SPEED_S = 3;
  document.addEventListener("DOMContentLoaded", () => {
    const gallery = document.getElementById("dynamic-gallery");
    const images = gallery.getElementsByTagName("img");
    gallery.style.backgroundImage = `url(
      "/resized-images/700/<%=galleryData.cale_galerie%><%= galleryData.imagini[0].cale_imagine %>"
    )`;

    gallery.addEventListener("mouseover", () => {
      pauseAnimations(images);
    });

    gallery.addEventListener("mouseout", () => {
      resumeAnimations(images);
    });
    images[images.length - 1].addEventListener("animationend", () => {
      resetAnimations(images);

      setTimeout(() => {
        setAnimations(images);
      }, 1);
    });

    setAnimations(images);
  });

  function setAnimations(images) {
    let numImages = images.length;
    for (let i = 0; i < numImages; i++) {
      let image = images[i];
      image.style.animationName = "perform_dynamic_gallery_animation";
      image.style.animationDuration = ANIMATION_SPEED_S + "s";
      image.style.animationFillMode = "forwards";
      image.style.animationTimingFunction = "ease-in-out";
      image.style.animationDelay = ANIMATION_SPEED_S * i + "s";
    }
  }

  function pauseAnimations(images) {
    let numImages = images.length;
    for (let i = 0; i < numImages; i++) {
      let image = images[i];
      image.style.animationPlayState = "paused";
    }
  }

  function resumeAnimations(images) {
    let numImages = images.length;
    for (let i = 0; i < numImages; i++) {
      let image = images[i];
      image.style.animationPlayState = "running";
    }
  }

  function resetAnimations(images) {
    let numImages = images.length;
    for (let i = 0; i < numImages; i++) {
      let image = images[i];
      image.style.animationName = "";
      image.style.animationDuration = "";
      image.style.animationFillMode = "";
      image.style.animationTimingFunction = "";
      image.style.animationDelay = "";
    }
  }
</script>
