<!DOCTYPE html>
<html>
  <head>
    <title>ÎnvățWeb - Lista Cursuri</title>
    <meta
      name="description"
      content="ÎnvățWeb. Cursuri Programare Web.
      Școală de programare pentru copilul tău.
      Profesori de programare dedicați. Cursuri la cel mai mic preț."
    />
    <%-include('../fragmente/head.ejs')-%>
  </head>
  <body>
    <%-include('../fragmente/header.ejs')-%>

    <div class="main-wrapper not-index">
      <main>
        <h2>Lista cursurilor oferite</h2>
        <h3>Filtrare</h3>

        <div class="sort-wrapper">
          <div class="row">
            <div class="col-sm-1">
              <button
                id="button-sort"
                class="btn btn-sm btn-secondary"
                data-sort="asc"
              >
                <i class="fa fa-angles-up"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="filter-wrapper">
          <div class="row">
            <div class="col-sm-6 filter-element form-group">
              <label for="filter_name" class="form-label">Nume</label>
              <input
                type="text"
                id="filter_name"
                name="filter_name"
                data-filter="nume"
                class="form-control"
              />
            </div>
            <div class="col-sm-6 filter-element form-group">
              <label for="filter_tema" class="form-label">
                Tema principala:
              </label>
              <input
                list="filter_tema_datalist"
                id="filter_tema"
                name="filter_tema"
                type="text"
                data-filter="tema"
                class="form-control"
              />
              <datalist id="filter_tema_datalist">
                <% locals.course_themes.forEach((theme)=> { %>
                <option value="<%-theme%>"></option>
                <% }) %>
              </datalist>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Interval Pret Cursuri</label>
              <!-- /* Copyright (c) 2024 by Predrag (https://codepen.io/predragdavidovic/pen/mdpMoWo)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

*/-->
              <div class="range_container filter-element">
                <div class="sliders_control">
                  <input
                    id="filter_min_price"
                    name="filter_min_price"
                    data-filter="pret_minim"
                    type="range"
                    value="<%-locals.pret_minim%>"
                    min="<%-locals.pret_minim%>"
                    max="<%-locals.pret_maxim%>"
                  />
                  <input
                    id="filter_max_price"
                    name="filter_max_price"
                    data-filter="pret_maxim"
                    type="range"
                    value="<%-locals.pret_maxim%>"
                    min="<%-locals.pret_minim%>"
                    max="<%-locals.pret_maxim%>"
                  />
                </div>
                <div class="form_control">
                  <div class="form_control_container">
                    <div class="form_control_container__time">Pret Min</div>
                    <input
                      class="form_control_container__time__input"
                      type="number"
                      id="fromInput"
                      name="filter_min_price"
                      data-filter="pret_minim"
                      value="<%-locals.pret_minim%>"
                    />
                  </div>
                  <div class="form_control_container">
                    <div class="form_control_container__time">Pret Max</div>
                    <input
                      class="form_control_container__time__input"
                      type="number"
                      id="toInput"
                      name="filter_max_price"
                      data-filter="pret_maxim"
                      value="<%-locals.pret_maxim%>"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="col-sm-6 filter-element">
              <fieldset>
                <span>Categorie</span>
                <% for (let category of locals.availableCourseCategories) { %>
                <div>
                  <input
                    type="checkbox"
                    id="filter_category_<%-category.key%>"
                    name="filter_category"
                    value="<%-category.key%>"
                    data-filter="categorie"
                  />
                  <label for="filter_category_<%-category.key%>">
                    <%-category.value%>
                  </label>
                </div>
                <% } %>
              </fieldset>
            </div>-->
            <div class="col-sm-6 filter-element">
              <fieldset>
                <span>Rating</span>
                <div class="form-check">
                  <input
                    type="radio"
                    id="filter_rating_all"
                    name="filter_rating"
                    value=""
                    data-filter="rating"
                    checked
                    class="form-check-input"
                  />
                  <label for="filter_rating_all" class="form-check-label">
                    Toate
                  </label>
                </div>
                <% for (let i = 1; i <= 5; i++) { %>
                <div class="form-check">
                  <input
                    type="radio"
                    id="filter_rating_<%-i%>"
                    name="filter_rating"
                    value="<%-i%>"
                    data-filter="rating"
                    class="form-check-input"
                  />
                  <label for="filter_rating_<%-i%>" class="form-check-label">
                    <%-i%>
                  </label>
                </div>
                <% } %>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 filter-element">
              <label>Luna de inceput</label>
              <select
                id="filter_start_month"
                name="filter_start_month"
                data-filter="luna_start"
                multiple
                class="form-select"
              >
                <% locals.course_start_months.forEach((mo)=> { %>
                <option value="<%-mo.key%>"><%-mo.value%></option>
                <% }) %>
              </select>
            </div>
            <div class="col-sm-6 filter-element">
              <label for="filter_location">Locatie</label>
              <select
                id="filter_location"
                name="filter_location"
                data-filter="locatie"
                class="form-select"
              >
                <option value="">Toate</option>
                <% locals.course_locations.forEach((loc)=> { %>
                <option value="<%-loc.key%>"><%-loc.value%></option>
                <% }) %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 filter-element">
              <fieldset class="form-check">
                <input
                  type="checkbox"
                  id="filter_luna_start_special"
                  name="filter_luna_start_special"
                  value="true"
                  data-filter="luna_start_special"
                  class="form-check-input"
                />
                <label for="filter_luna_start_special" class="form-check-label">
                  Afiseaza doar cele cu discount
                </label>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 filter-element form-group">
              <label for="filter_description" class="form-label">
                Descriere
              </label>
              <textarea
                id="filter_description"
                name="filter_description"
                data-filter="descriere"
                style="width: 100%; height: 100px"
                class="form-control"
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <button id="button-reset" class="btn btn-primary">
                Reseteaza Filtre
              </button>
            </div>
            <div class="col-sm-6">
              <button id="button-calculate" class="btn btn-primary">
                Calculare Pret
              </button>
            </div>
          </div>
        </div>

        <section id="produse">
          <div class="grid-courses">
            <% for(let curs of locals.cursuri) { %>
            <article
              class="course <%- curs.categorie %>"
              id="produs_<%- curs.id %>"
            >
              <h3>
                <a
                  class="prevent-default-a"
                  data-element="nume"
                  href="/cursuri/<%= curs.id %>"
                >
                  <%- curs.nume %>
                </a>
              </h3>
              <div
                class="course-rating"
                data-element="rating"
                data-key="<%- curs.rating %>"
              >
                <% for (let i = 0; i < 5; i++) { %>
                <i
                  class="fa fa-star <%- i < curs.rating ? 'active' : '' %>"
                ></i>
                <% } %>
              </div>
              <div class="course-container">
                <div class="course-image">
                  <a
                    href="/cursuri/<%= curs.id %>"
                    class="prevent-default-a"
                    title="<%= curs.nume %>"
                  >
                    <figure>
                      <picture>
                        <source
                          media="(max-width: 599px)"
                          srcset="/resized-images/300/cursuri/<%= curs.imagine %>"
                        />
                        <source
                          media="(max-width: 1199px)"
                          srcset="/resized-images/500/cursuri/<%= curs.imagine %>"
                        />
                        <img
                          src="/resized-images/700/cursuri/<%= curs.imagine %>"
                          alt="<%=curs.nume %>"
                          title="<%= curs.nume %>"
                        />
                      </picture>
                    </figure>
                  </a>
                  <div class="course-details-1">
                    <p
                      class="course-category"
                      data-element="categorie"
                      data-key="<%- curs.categorie %>"
                    >
                      Categorie:
                      <strong><%- curs.categorie_text %></strong>
                    </p>
                    <p class="course-price">
                      Preț:
                      <em data-element="pret" data-key="<%- curs.pret %>">
                        <%- curs.pret %> RON
                      </em>
                    </p>
                  </div>
                </div>

                <div class="course-details">
                  <p class="course-description" data-element="descriere">
                    <%- curs.descriere %>
                  </p>
                  <details>
                    <summary>Specificații</summary>
                    <ul>
                      <li>
                        <strong>Temă:</strong>
                        <em data-element="tema"><%- curs.tema_principala %></em>
                      </li>
                      <li>
                        <strong>Locatie:</strong>
                        <em data-element="locatie">
                          <%- curs.locatie.charAt(0).toUpperCase() +
                          curs.locatie.slice(1) %>
                        </em>
                      </li>

                      <li>
                        <strong>Dată început:</strong>
                        <time
                          data-element="luna"
                          datetime="<%- new Date(curs.data_start).toISOString() %>"
                        >
                          <em><%- curs.data_start_text %></em>
                        </time>
                      </li>
                      <li>
                        <strong>Accesibil dizabilități:</strong>
                        <em>
                          <%- curs.accesibil_dizabilitati ? 'Da' : 'Nu' %>
                        </em>
                      </li>
                    </ul>
                  </details>
                </div>
              </div>
            </article>
            <% } %>
          </div>
        </section>
      </main>
    </div>

    <dialog id="modal-reset">
      <button autofocus style="float: right" id="reset-close">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <p>Sunteti sigur ca doriti sa resetati filtrele?</p>
      <button class="btn btn-primary" id="reset-confirm">Reseteaza</button>
    </dialog>

    <dialog id="modal-calculate">
      <button autofocus style="float: right" id="calculate-close">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <p>
        Pret calculat:
        <br />
        <strong></strong>
      </p>
    </dialog>

    <%-include('../fragmente/footer.ejs')-%>
  </body>
</html>

<script src="/js/cursuri-filtering.js"></script>
<script src="/js/double-slider.js"></script>
