<!DOCTYPE html>
<html>
  <head>
    <title>ÎnvățWeb - Lista Cursuri</title>
    <meta
      name="description"
      content="ÎnvățWeb. Cursuri Programare Web.
      Școală de programare pentru copilul tău.
      Profesori de programare dedicați. Cursuri la cel mai mic preț."
    />
    <%-include('../fragmente/head.ejs')-%>
  </head>
  <body>
    <%-include('../fragmente/header.ejs')-%>

    <div class="main-wrapper not-index">
      <main>
        <h2>Lista cursurilor oferite</h2>
        <!--<label>
          Nume:
          <input type="text" id="inp-nume" />
        </label>
        <label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>
        <div>
          Calorii:
          <p>
            <label>
              Dietetic (calorii &lt; 350)
              <input id="i_rad1" name="gr_rad" value="0:350" type="radio" />
            </label>
          </p>
          <p>
            <label>
              Mediu (350 &le; calorii &lt; 700)
              <input id="i_rad2" name="gr_rad" value="350:750" type="radio" />
            </label>
          </p>

          <p>
            <label>
              Ridicat caloric (700 &le; calorii)
              <input
                id="i_rad3"
                name="gr_rad"
                value="700:1000000000"
                type="radio"
              />
            </label>
          </p>

          <p>
            <label>
              Toate
              <input
                id="i_rad4"
                checked
                name="gr_rad"
                value="toate"
                type="radio"
              />
            </label>
          </p>
        </div>

        <label>
          Pret minim:
          <input type="range" id="inp-pret" value="0" min="0" max="70" />
          <span id="infoRange">(0)</span>
        </label>
        <label>
          Select simplu:
          <select id="inp-categorie">
            <option id="sel-toate" selected value="toate">toate</option>
            <% for (let opt of locals.optiuni) { %>
            <option value="<%- opt.unnest %>"><%- opt.unnest %></option>
            <% } %>
          </select>
        </label>
        <p>
          <button id="filtrare">Filtreaza</button>

          <button id="resetare">Reseteaza</button>
          <br />
          <button id="sortCrescNume">
            Sorteaza crescator dupa pret si nume
          </button>
          <button id="sortDescrescNume">
            Sorteaza descrescator dupa pret si nume
          </button>
        </p>-->

        <section id="produse">
          <div class="grid-courses">
            <% for(let curs of locals.cursuri) { %>
            <article
              class="course <%- curs.categorie %>"
              id="produs_<%- curs.id %>"
            >
              <h3>
                <a class="prevent-default-a" href="/cursuri/<%= curs.id %>">
                  <%- curs.nume %>
                </a>
              </h3>
              <div class="course-container">
                <div class="course-image">
                  <a
                    href="/cursuri/<%= curs.id %>"
                    class="prevent-default-a"
                    title="<%= curs.nume %>"
                  >
                    <figure>
                      <picture>
                        <source
                          media="(max-width: 599px)"
                          srcset="/resized-images/300/cursuri/<%= curs.imagine %>"
                        />
                        <source
                          media="(max-width: 1199px)"
                          srcset="/resized-images/500/cursuri/<%= curs.imagine %>"
                        />
                        <img
                          src="/resized-images/700/cursuri/<%= curs.imagine %>"
                          alt="<%=curs.nume %>"
                          title="<%= curs.nume %>"
                        />
                      </picture>
                    </figure>
                  </a>
                  <div class="course-details-1">
                    <p class="course-category">
                      Categorie:
                      <strong><%- curs.categorie_text %></strong>
                    </p>
                    <p class="course-price">
                      Preț:
                      <em><%- curs.pret %> RON</em>
                    </p>
                  </div>
                </div>

                <div class="course-details">
                  <p class="course-description"><%- curs.descriere %></p>
                  <details>
                    <summary>Specificații</summary>
                    <ul>
                      <li>
                        <strong>Temă:</strong>
                        <em><%- curs.tema_principala %></em>
                      </li>
                      <li>
                        <strong>Număr Ore:</strong>
                        <em><%- curs.numar_ore %></em>
                      </li>
                      <% if (curs.distributie_ore) { %>
                      <li>
                        <strong>Distribuție ore:</strong>
                        <em><%- curs.distributie_ore.join(', ') %></em>
                      </li>
                      <% } %>

                      <li>
                        <strong>Dată început:</strong>
                        <time
                          datetime="<%- new Date(curs.data_start).toISOString() %>"
                        >
                          <em><%- curs.data_start_text %></em>
                        </time>
                      </li>
                      <li>
                        <strong>Accesibil dizabilități:</strong>
                        <em>
                          <%- curs.accesibil_dizabilitati ? 'Da' : 'Nu' %>
                        </em>
                      </li>
                    </ul>
                  </details>
                </div>
              </div>
            </article>
            <% } %>
          </div>
        </section>
      </main>
    </div>

    <%-include('../fragmente/footer.ejs')-%>
  </body>
</html>
