<!DOCTYPE html>
<html>
  <head>
    <title>ÎnvățWeb - Curs</title>
    <meta
      name="description"
      content="ÎnvățWeb. Cursuri Programare Web.
      Școală de programare pentru copilul tău.
      Profesori de programare dedicați. Cursuri la cel mai mic preț."
    />
    <%-include('../fragmente/head.ejs')-%>
  </head>
  <body>
    <%-include('../fragmente/header.ejs')-%>

    <div class="main-wrapper not-index">
      <main>
        <h2>Detalii Curs: <%- locals.curs.nume %></h2>
        <section>
          <article
            class="course <%- locals.curs.categorie %>"
            id="produs_<%- locals.curs.id %>"
          >
            <div class="course-container">
              <div class="course-image">
                <a
                  href="/cursuri/<%= locals.curs.id %>"
                  class="prevent-default-a"
                  title="<%= locals.curs.nume %>"
                >
                  <figure>
                    <picture>
                      <source
                        media="(max-width: 599px)"
                        srcset="/resized-images/300/cursuri/<%= locals.curs.imagine %>"
                      />
                      <source
                        media="(max-width: 1199px)"
                        srcset="/resized-images/500/cursuri/<%= locals.curs.imagine %>"
                      />
                      <img
                        src="/resized-images/700/cursuri/<%= locals.curs.imagine %>"
                        alt="<%=locals.curs.nume %>"
                        title="<%= locals.curs.nume %>"
                      />
                    </picture>
                  </figure>
                </a>
                <div
                  class="course-rating"
                  data-element="rating"
                  data-key="<%- locals.curs.rating %>"
                >
                  <% for (let i = 0; i < 5; i++) { %>
                  <i
                    class="fa fa-star <%- i < locals.curs.rating ? 'active' : '' %>"
                  ></i>
                  <% } %>
                </div>
                <div class="course-details-1">
                  <p
                    class="course-category"
                    data-element="categorie"
                    data-key="<%- locals.curs.categorie %>"
                  >
                    Categorie:
                    <strong><%- locals.curs.categorie_text %></strong>
                  </p>
                  <p class="course-price">
                    Preț:
                    <em data-element="pret" data-key="<%- locals.curs.pret %>">
                      <%- locals.curs.pret %> RON
                    </em>
                  </p>
                </div>
              </div>

              <div class="course-details">
                <p class="course-description" data-element="descriere">
                  <%- locals.curs.descriere %>
                </p>
                <details>
                  <summary>Specificații</summary>
                  <ul>
                    <li>
                      <strong>Temă:</strong>
                      <em data-element="tema">
                        <%- locals.curs.tema_principala %>
                      </em>
                    </li>
                    <li>
                      <strong>Locatie:</strong>
                      <em data-element="locatie">
                        <%- locals.curs.locatie.charAt(0).toUpperCase() +
                        locals.curs.locatie.slice(1) %>
                      </em>
                    </li>

                    <li>
                      <strong>Dată început:</strong>
                      <time
                        data-element="luna"
                        datetime="<%- new Date(locals.curs.data_start).toISOString() %>"
                      >
                        <em><%- locals.curs.data_start_text %></em>
                      </time>
                    </li>
                    <li>
                      <strong>Accesibil dizabilități:</strong>
                      <em>
                        <%- locals.curs.accesibil_dizabilitati ? 'Da' : 'Nu' %>
                      </em>
                    </li>
                  </ul>
                </details>
              </div>
            </div>
          </article>
        </section>
      </main>
    </div>

    <%-include('../fragmente/footer.ejs')-%>
  </body>
</html>
