<!DOCTYPE html>
<html>
  <head>
    <title>ÎnvățWeb - Cursurile oferite</title>
    <meta
      name="description"
      content="ÎnvățWeb. Cursuri Programare Web.
      Școală de programare pentru copilul tău.
      Profesori de programare dedicați. Cursuri la cel mai mic preț."
    />
    <%-include('../fragmente/head.ejs')-%>
  </head>
  <body>
    <%-include('../fragmente/header.ejs')-%>

    <div class="main-wrapper not-index">
      <main>
        <h2>Despre cursurile noastre</h2>
        <p>
          Vizionati un videoclip care va prezinta totul despre cursurile
          noastre!
        </p>
        <div class="video-wrapper">
          <video
            width="100%"
            controls
            poster="/imagini/video/about-courses-banner.webp"
            preload="metadata"
          >
            <source src="video/about-cursuri.mp4" type="video/mp4" />
            <track
              src="video/vtt/about-cursuri-ro.vtt"
              kind="subtitles"
              srclang="ro"
              label="Română"
              default
            />
            <track
              src="video/vtt/about-cursuri-en.vtt"
              kind="subtitles"
              srclang="en"
              label="Engleză"
            />

            Browser-ul tău nu suportă elementul video.
          </video>
        </div>

        <%-include('../fragmente/about/galerie-statica.ejs')-%>

        <hr />

        <%-include('../fragmente/about/galerie-dinamica.ejs')-%>
      </main>
    </div>

    <%-include('../fragmente/footer.ejs')-%>
  </body>
</html>
