<!DOCTYPE html>
<html>
  <head>
    <title>ÎnvățWeb - Cursuri Web pentru copii</title>
    <meta
      name="description"
      content="ÎnvățWeb. Cursuri Programare Web.
      Școală de programare pentru copilul tău.
      Profesori de programare dedicați. Cursuri la cel mai mic preț."
    />
    <%-include('../fragmente/head.ejs')-%>
  </head>
  <body>
    <%-include('../fragmente/header.ejs')-%> <% if (errors && errors.length > 0)
    { %>
    <div class="alert alert-danger">
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error %></li>
        <% }); %>
      </ul>
    </div>
    <% } %>
    <div class="main-wrapper">
      <main class="index-page">
        <section id="section-1" class="page-banner">
          <h2>
            Bine ați venit la
            <i>Școala ÎnvățWeb</i>
          </h2>

          <!-- T1.8 -->
          <figure>
            <figcaption>Învățarea programării poate fi ușoară.</figcaption>
            <picture>
              <source
                srcset="imagini/banner/banner-800.webp"
                media="(min-width:768px) and (orientation: landscape)"
              />
              <source
                srcset="imagini/banner/banner-800-vertical.webp"
                media="(min-width:768px) and (orientation: portrait)"
              />
              <source
                srcset="imagini/banner/banner-500.webp"
                media="(orientation: landscape)"
              />
              <img
                src="imagini/banner/banner-500-vertical.webp"
                alt="Interiorul unei săli de clasă specializată pentru studiul programării web, conținând un laptop și un suport pentru instrumente de scris"
                title="Una dintre sălile de clasă ale Școlii ÎnvățWeb"
              />
            </picture>
          </figure>
          <!-- T1.10.e -->
          <p>
            Cursuri de programare de la doar
            <s>80 RON</s>
            <ins>59.99 RON</ins>
            pe zi.
          </p>

          <% if(loggedIn) { %>
          <p>Bine ai revenit, <%= userData.username %></p>
          <img
            src="<%= userData.imagine %>"
            width="100"
            style="width: 100px !important"
          />
          <% } %>
        </section>

        <section id="section-table">
          <%-include('../fragmente/home/tabel-orar.ejs')-%>
        </section>

        <section id="section-calendar">
          <%-include('../fragmente/home/calendar-evenimente.ejs')-%>
        </section>

        <section id="section-announcements">
          <%-include('../fragmente/home/anunturi.ejs')-%>
        </section>

        <section id="section-users">
          <h2>Despre tine</h2>
          <p>IP-ul tau este: <%= locals.ip %></p>
        </section>
        <section id="section-stats">
          <h2>Statistici</h2>
          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
          </p>
          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
          </p>
        </section>

        <section id="section-server">
          <h2>Detalii despre server</h2>
          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
          </p>
          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
          </p>
        </section>

        <section id="section-content">
          <!-- T1.5 -->
          <section id="section-2">
            <%-include('../fragmente/home/descriere-1.ejs')-%>
          </section>
          <hr class="design" />
          <section id="section-3">
            <%-include('../fragmente/home/profesori.ejs')-%>
          </section>
          <hr class="design" />
          <section id="section-4">
            <h3>Întrebări frecvente</h3>
            <!-- T1.10.d && T1.12 -->
            <details>
              <summary>Cum sunt structurate cursurile?</summary>
              Pentru grupa selectată (Baby, Începător, Intermediar sau Avansat),
              există în fiecare săptămâmă un curs teoretic cu durata de o oră și
              jumătate și trei laboratoare cu durata de o oră jumătate fiecare.
              Recomandăm ca studentul să participe la curs și la
              <em>minim</em>
              două laboratoare pe săptămână pentru cele mai bune rezultate de
              învățare.
            </details>
            <details>
              <summary>Cum se calculează plata datorată la cursuri?</summary>
              Cu cât elevul dumneavoastră participă mai des la cursuri, cu atât
              dumneavoastră aveți de plătit mai puțin pe zi. Formula după care
              se calculează plata este următoarea, iar noi vă eliberăm factura
              fie o dată la lună, fie de două ori pe lună, după preferința
              dumneavoastră, fără plată anticipată.
              <!-- T1.10.c -->
              <strong>
                Plătiți întotdeauna doar cursurile la care elevul dumneavoastră
                a participat.
              </strong>
              <div>
                <math xmlns="http://www.w3.org/1998/Math/MathML">
                  <mrow>
                    <mi>T</mi>
                    <mo>=</mo>
                    <mi>P</mi>
                    <mo>&#x22C5;</mo>
                    <!-- Multiplication -->
                    <mi>N</mi>
                    <mo>&#x22C5;</mo>
                    <!-- Multiplication -->
                    <mo>(</mo>
                    <mn>1</mn>
                    <mo>-</mo>
                    <mi>min</mi>
                    <mo>(</mo>
                    <mi>max</mi>
                    <mo>(</mo>
                    <mrow>
                      <mo>(</mo>
                      <mi>N</mi>
                      <mo>-</mo>
                      <mn>5</mn>
                      <mo>)</mo>
                      <mo>&#x22C5;</mo>
                      <!-- Multiplication -->
                      <mn>0.05</mn>
                      <mo>,</mo>
                      <mn>0</mn>
                    </mrow>
                    <mo>)</mo>
                    <mo>,</mo>
                    <mn>0.50</mn>
                    <mo>)</mo>
                    <mo>)</mo>
                  </mrow>
                </math>
              </div>
              <p>
                În acestă formulă,
                <var>P</var>
                este prețul unui curs și
                <var>N</var>
                este numărul de cursuri frecventate în luna curentă. Astfel,
                după al cincilea curs, fiecare curs în plus va reduce prețul cu
                5%, cumulativ, până la un maxim de 50% reducere pe luna
                respectivă.
              </p>
            </details>
          </section>
          <hr class="design" />
          <section id="section-5">
            <h3>Mesajele foștilor studenți</h3>
            <section>
              <!-- T1.10.h -->
              <h4>
                <q>Copilul meu e nespus de fericit!</q>
              </h4>
              <p>
                Vlad, 12 ani, a fost student la Școala ÎnvățWeb pentru 6 luni,
                timp în care a învățat să creeze de unul singur site-uri web și
                jocuri video în browser. Acesta ne-a transmis că își dorește să
                urmeze profilul matematică-informatică la liceu și să devină
                programator.
              </p>
            </section>
            <hr class="design" />
            <section>
              <h4>
                <q>Cea mai bună alegere pentru Maria!</q>
              </h4>
              <!-- T1.10.b -->
              <p>
                Maria continuă să ia parte la cursurile
                <i>Școlii ÎnvățWeb</i>
                din anul 2022. Ea ia parte acum la cursul de avansați și știe să
                lucreze cu
                <i>CMS-uri</i>
                cum ar fi
                <!-- T1.11.a -->
                <i>
                  <a href="https://wordpress.com/" target="_blank">Wordpress</a>
                </i>
                , dar și să lucreze cu
                <i>framework-ul React.js</i>
                .
              </p>
            </section>
          </section>
          <hr class="design" />
          <section id="section-6">
            <h3>Află mai multe!</h3>
            <p>
              Poți găsi datele noastre de contact în această carte de vizită
              digitală,
              <!-- T1.11.d mentiune - nu functioneaza, 
            ma gandesc ca din cauza rularii site-ului in mod static,
             am inteles ca browserele blocheaza descarcarea crossorigin 
             si acesta poate fi un motiv -->
              <a href="./contact.txt" download="invatweb-contact.txt">
                descarc-o de aici
              </a>
              !
            </p>
          </section>

          <hr class="design" />
          <section id="section-7">
            <h3>Resurse utile în domeniul programării Web</h3>
            <p>
              Dacă alegeți totuși să învățați programarea Web de unul singur, vă
              punem la dispoziție o listă de platforme cu resurse utile în
              domeniul IT.
            </p>
            <!-- T1.7.1, T1.11.c -->
            <ul id="ul-resources">
              <li>
                <a href="https://www.w3schools.com/html/" target="_blank">
                  Platforma W3schools
                </a>
                oferă informații utile legate de programarea web.
              </li>
              <li>
                Platforma
                <a
                  href="https://developer.mozilla.org/en-US/docs/Web/HTML"
                  target="_blank"
                >
                  MDN
                </a>
                oferă resurse concrete și detaliate despre fiecare element
                <abbr title="Hypertext Markup Language">HTML</abbr>
                , dar și alte limbaje folosite pentru programarea web.
              </li>
              <li>
                Pe site-ul
                <a
                  href="
        https://www.geeksforgeeks.org/web-development/"
                  target="_blank"
                >
                  GeeksForGeeks
                </a>
                există atât resurse web, cât și de algoritmică.
              </li>
              <li>
                YouTuber-ul
                <em>
                  <a
                    href="https://www.youtube.com/embed/HfTXHrWMGVY"
                    target="resources_iframe"
                  >
                    Web Dev Simplified
                  </a>
                </em>
                prezintă, pe lângă altele, cursuri interesante de programare web
                în limba engleză.
              </li>
              <li>
                <em>
                  <a
                    href="https://www.youtube.com/embed/q5J5ho7YUhA"
                    target="resources_iframe"
                  >
                    FireShip
                  </a>
                </em>
                prezintă noutăți în domeniul tech și web, dar și tutoriale
                scurte pe diferite teme de dezvoltare software.
              </li>
            </ul>
            <div>
              <h4>
                Apasă pe link-urile YouTube de mai sus pentru a vizualiza
                resursele video în fereastra de mai jos.
              </h4>
              <div class="iframe-container">
                <iframe
                  src="https://www.youtube.com/embed/HfTXHrWMGVY"
                  title="A frame where resources about web development will be shows to the user, after clicking one of the links in the previous section."
                  name="resources_iframe"
                ></iframe>
              </div>
              <div class="iframe-tabs">
                <a
                  href="https://www.youtube.com/embed/HfTXHrWMGVY"
                  target="resources_iframe"
                >
                  <div class="inner">Web Dev Simplified</div>
                </a>
                <a
                  href="https://www.youtube.com/embed/q5J5ho7YUhA"
                  target="resources_iframe"
                >
                  <div class="inner">FireShip</div>
                </a>
              </div>
            </div>
          </section>
          <hr class="design" />
          <section id="section-8">
            <%-include('../fragmente/about/galerie-statica.ejs')-%>
          </section>
        </section>
      </main>
    </div>

    <%-include('../fragmente/footer.ejs')-%>
  </body>
</html>
